@media screen and (min-device-width: 1200px) {
  .results-div {
    .results-count {
      left: 15vw;
    }

    .results-container {

      &.selected-artist {
        height: auto;
        padding-left: 100px !important;
      }

      .artist {
        height: 100px;

        .image {
          top: 20px;
        }

        .detail {
          left: 80px;
          top: 35px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: 64%;

          &.skeleton-detail {
            width: 72%;
          }
        }
      }
    }
  }
}


@media screen and (max-device-width: 1199px) {
  .results-div {
    padding: 0 9px;

    .results-count {
      left: 3vw;
    }

    .results-container {

      &.selected-artist {
        height: auto;
        padding: 10px 40px !important;
        margin-left: -25px;
        margin-top: 0 !important;
      }

      .artist {
        width: 100%;
        height: 150px;

        .image {
          left: 44%;
        }

        .detail {
          top: 80px;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}

.container {
  position: relative;

  .progress-bar {
    height: 15px;
    position: absolute;
    width: 100vw;
    top: -25px;
  }

  .results-div {
    position: relative;

    .results-count {
      position: absolute;
      top: -20px;
    }

    .results-container {
      margin-top: 15px;
      overflow-y: auto;
      height: calc(100vh - 200px);
      padding: 10px 22px;
      padding: 10px;

      &.selected-artist {
        height: auto;
      }

      .artist {
        position: relative;
        background: white;
        margin: 10px;
        cursor: pointer;

        &.skeleton {
          background: none;
          cursor: default;
        }

        .image {
          position: absolute;
        }

        .detail {
          position: absolute;

          .title,
          .link {
            font-weight: bold;
          }

          .link {
            font-size: 12px;
            color: #039dfc;

            &:hover {
              color: #0352fc;
            }
          }
        }
      }
    }
  }
}
