/* ----------- Desktop ----------- */
@media screen
  and (min-device-width: 1200px) {
    .search-bar-container {
      .input-group {
        margin-top: 200px;
      }
    }
}

@media screen
  and (max-device-width: 1199px) {
    .search-bar-container {
      .input-group {
        margin-top: 200px;
      }
    }
}

.search-bar-container {
  padding: 10px 10px;

  .input-group {
    position: relative;

    input {
      height: 45px;
      border: none;
      border-radius: 2px;
      padding-left: 5px;
      padding-right: 45px;
      box-shadow: 0px 1px 28px -13px rgba(0,0,0,0.37);
    }

    i {
      opacity: 0.7;
      position: absolute;
      right: 0;
      padding: 15px;
    }
  }

  .enhanced-search {
    text-align: center;
    padding: 20px;
  }
}
